

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container m-t-inner" ng-app="claimPredictApp">
   <div class="row">
      <div class="col-sm-12 text-center">
         <h1 class="head-txt-1 txt-upper m-t-120 skl-clr1">Insurance </h1>
         <h4 class="skl-lett-spac">Claim Prediction</h4>
      </div>
   </div>
   <hr>
   <div class="row" ng-controller="claimCtrl">
<div class="col-md-12 skl-box-outer">
      <div class="col-md-6">
        <div class="panel panel-default skl-panel1">
          <div class="panel-heading"><span class="skl-txt-big1">Credit Applicant Profile</span></div>
          <div class="panel-body">
            <form class="form-horizontal" name="creditForm" >
              {% for x in labels %}
              <div class="form-group">
                <label class="col-sm-6 control-label">{{x.label}}</label>
                <div class="col-sm-6">
                  <input type="text" ng-model="Claim.{{x.model}}" ng-init="Claim.{{x.model}}='{{x.value}}'" required="true" class="form-control">
                </div>
              </div>
              {% endfor %}              <div class="col-md-12 m-t-20">
                <button type="submit" ng-click="submit(creditForm.$valid)" class="btn skl-btn1 nav-justified txt-upper">Predict Credit Risk</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default skl-panel2">
          <div class="panel-heading"><span class="skl-txt-big1">Claim Prediction</span></div>
          <div class="panel-body">
            <div id="probdist" style="width:502px;height:636px;"></div>
          </div>
        </div>
      </div>
    </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h2 class="text-center m-t-40 txt-upper">How it Works</h2>
      </div>
   </div>
   <div class="row m-t-40">
      <div class="col-md-12">
         <div class="tab_container">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fa fa-pencil-square-o"></i><span>NON-TECHNICAL</span></label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-code"></i><span>TECHNICAL</span></label>
            <section id="content1" class="tab-content">
               <p class="skl-txt-big1">
                  Risk varies widely from customer to customer, and a deep understanding of different risk factors helps predict the likelihood and cost of insurance claims. The goal of this competition is to better predict Bodily Injury Liability Insurance claim payments based on the characteristics of the insured customer’s vehicle.
Many factors contribute to the frequency and severity of car accidents including how, where and under what conditions people drive, as well as what they are driving. 
Bodily Injury Liability Insurance covers other people’s bodily injury or death for which the insured is responsible. .
               </p>
            </section>
            <section id="content2" class="tab-content">
               <p class="skl-txt-big1">
                              <pre>
                 <code>
curl '<script>document.write(apiURL )</script>service/claim/' -X POST -H 'Content-Type: application/json'\
-d {"veh_value":"6.43","exposure":"0.241897754","veh_body":"STNWG","veh_age":"M","gender":"0","area":"A","dr_age":"3","claim_ind":"0","claim_count":"0"}
</code>
</pre>
               </p>
            </section>
         </div>
      </div>
   </div>
   <div class="row m-t-40 m-b-50">
      <div class="col-md-12 text-center">
         <a data-toggle="modal" data-target="#demorequest" class="btn btn-lg btn-circle skl-btn2 txt-upper col-sm-6 center-align-div">Request a custom demo</a>
      </div>
   </div>
</div>
{% endblock %}
{% block extrajs%}
<script src="{% static 'assets/scripts/claim-predict.js' %}"></script> 
{% endblock %}

