

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container m-t-inner" ng-app="clickStreamApp">
   <div class="row">
      <div class="col-sm-12 text-center">
         <h1 class="head-txt-1 txt-upper m-t-120 skl-clr1">Click Analytics </h1>
         <h4 class="skl-lett-spac">Sentment Analysis</h4>
      </div>
   </div>
   <hr>
   <div class="row" ng-controller="postCtrl">
      <div class="col-md-12 skl-box-outer">
         <div class="col-md-6">
            <div class="panel panel-default skl-panel1">
               <div class="panel-heading"><span class="skl-txt-big1">Visits</span></div>
               <div class="panel-body" style="width:502px;height:636px;">
                   <span id="main_1" ng-bind="summary" style="width:502px;height:636px;"></span>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="panel panel-default skl-panel2">
               <div class="panel-heading"><span class="skl-txt-big1">Events</span></div>
               <div class="panel-body" style="width:502px;height:636px;">
                  <span id="main_2" ng-bind="summary" style="width:502px;height:636px;"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h2 class="text-center m-t-40 txt-upper">How it Works</h2>
      </div>
   </div>
   <div class="row m-t-40">
      <div class="col-md-12">
         <div class="tab_container">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fa fa-pencil-square-o"></i><span>NON-TECHNICAL</span></label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-code"></i><span>TECHNICAL</span></label>
            <section id="content1" class="tab-content">
               <p class="skl-txt-big1">
                On a Web site, clickstream analysis (also called clickstream analytics) is the process of collecting, 
                analyzing and reporting aggregate data about which pages a website visitor visits -- and in what order. 
               </p>
            </section>
            <section id="content2" class="tab-content">
               <p class="skl-txt-big1">
                        <pre>
<span class="nt">&lt;body&gt;</span>
<span class="c">&lt;!--</span>
<span class="c">  Your page content here.</span>
<span class="c">--&gt;</span>

<span class="c">&lt;!--</span>
<span class="c">  Include Divolte Collector</span>
<span class="c">  just before the closing</span>
<span class="c">  body tag</span>
<span class="c">--&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"<script>document.write(base)</script>/clickskale.js"</span> <span class="na">defer</span> <span class="na">async</span><span class="nt">&gt;</span>
<span class="nt">&lt;/script&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;script</span><span class="nt">&gt;</span>
divolte.signal("eventName",{});
<span class="nt">&lt;/script&gt;</span>
</pre>

               </p>
            </section>
         </div>
      </div>
   </div>
   <div class="row m-t-40 m-b-50">
      <div class="col-md-12 text-center">
         <a data-toggle="modal" data-target="#demorequest" class="btn btn-lg btn-circle skl-btn2 txt-upper col-sm-6 center-align-div">Request a custom demo</a>
      </div>
   </div>
</div>
{% endblock %}
{% block extrajs%}
<script src="{% static 'assets/scripts/click-stream.js' %}"></script> 
{% endblock %}

