

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container m-t-inner" ng-app="clvApp">
   <div class="row">
      <div class="col-sm-12 text-center">
         <h1 class="head-txt-1 txt-upper m-t-120 skl-clr1">Content AI </h1>
         <h4 class="skl-lett-spac">Customer Lifetime Value</h4>
      </div>
   </div>
   <hr>
   <div class="row" ng-controller="postCtrl">
      <div class="col-md-12 skl-box-outer">
         <div class="col-md-6">
            <div class="panel panel-default skl-panel1">
               <div class="panel-heading"><span class="skl-txt-big1">Customer Lifetime Value</span></div>
               <div class="panel-body">
                  <form class="form-horizontal" name="creditForm" >
                    <div class="form-group">
                        <!-- <input type="file"  name="myfile[]"  file-model = "myFile" class="file">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control input-lg" disabled placeholder="Upload File">
                          <span class="input-group-btn">
                            <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                          </span>
                        </div> --> 
                         <div class="radio input-group">
                          <label><input type="radio" ng-model="CLV.type" required value="Telecom">Telecom</label>
                      </div>
                      </div>
                    <div class="col-md-12 m-t-20">
                     <button type="submit" ng-click="submit(creditForm.$valid)"  class="btn col-md-6 pull-right skl-btn1  txt-upper">Calculate</button>
                    </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="panel panel-default skl-panel2">
               <div class="panel-heading"><span class="skl-txt-big1">Customer Lifetime value : </span></div>
               <div class="panel-body">
                  <span id="probdist" style="width:502px;height:636px;"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h2 class="text-center m-t-40 txt-upper">How it Works</h2>
      </div>
   </div>
   <div class="row m-t-40">
      <div class="col-md-12">
         <div class="tab_container">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fa fa-pencil-square-o"></i><span>NON-TECHNICAL</span></label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-code"></i><span>TECHNICAL</span></label>
            <section id="content1" class="tab-content">
               <p class="skl-txt-big1">
                  In marketing, customer lifetime value (CLV or often CLTV), lifetime customer value (LCV), or life-time value (LTV) is a prediction
                   of the net profit attributed to the entire future relationship with a customer. The prediction model can have varying levels of 
                   sophistication and accuracy, ranging from a crude heuristic to the use of complex predictive analytics techniques.
               </p>
            </section>
            <section id="content2" class="tab-content">
               <p class="skl-txt-big1">
                       <pre>
                 <code>
  curl '<script>document.write(apiURL) </script>service/clv' -X POST -H 'Content-Type: application/json' -d  <span class="code-params">'{"type":"Gaming"}'
</span>
</code>
</pre> 
               </p>
            </section>
         </div>
      </div>
   </div>
   <div class="row m-t-40 m-b-50">
      <div class="col-md-12 text-center">
         <a data-toggle="modal" data-target="#demorequest" class="btn btn-lg btn-circle skl-btn2 txt-upper col-sm-6 center-align-div">Request a custom demo</a>
      </div>
   </div>
</div>
{% endblock %}
{% block extrajs%}
<script src="{% static 'assets/scripts/clv.js' %}"></script> 
{% endblock %}

