 {% extends 'base.html' %} {% load static %} {% block content %}
<div class="container m-t-inner" ng-app="clvApp">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="head-txt-1 txt-upper m-t-120 skl-clr1">Content AI </h1>
      <h4 class="skl-lett-spac">Customer Lifetime Value</h4>
    </div>
  </div>
  <hr>
  <div class="row" ng-controller="postCtrl">
    <div class="col-md-12 skl-box-outer">
      <div class="col-md-6">
        <div class="panel panel-default skl-panel1">
          <div class="panel-heading"><span class="skl-txt-big1">Customer Lifetime Value</span></div>
          <div class="panel-body">
            <form class="form-horizontal" name="creditForm">
              <div class="form-group">
                <!-- <input type="file"  name="myfile[]"  file-model = "myFile" class="file">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control input-lg" disabled placeholder="Upload File">
                          <span class="input-group-btn">
                            <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                          </span>
                        </div> -->
                <div class="radio input-group">
                  <label><input type="radio" ng-model="CLV.type" required value="Telecom">Telecom</label>
                </div>
              </div>
              <div class="col-md-12 m-t-20">
                <button type="submit" ng-click="submit(creditForm.$valid)" class="btn col-md-6 pull-right skl-btn1  txt-upper">Calculate</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default skl-panel2">
          <div class="panel-heading"><span class="skl-txt-big1">Customer Lifetime value : </span></div>
          <div class="panel-body">
            <span id="probdist" style="width:502px;height:636px;"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center m-t-40 txt-upper">How it Works</h2>
    </div>
  </div>
  <div class="row m-t-40">
    <div class="col-md-12">
      <div class="tab_container">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1"><i class="fa fa-pencil-square-o"></i><span>NON-TECHNICAL</span></label>
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2"><i class="fa fa-code"></i><span>TECHNICAL</span></label>
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3"><i class="fa fa-table"></i><span>Sample Data</span></label>
        <section id="content1" class="tab-content">
          <p class="skl-txt-big1">
            In marketing, customer lifetime value (CLV or often CLTV), lifetime customer value (LCV), or life-time value (LTV) is a prediction
            of the net profit attributed to the entire future relationship with a customer. The prediction model can have
            varying levels of sophistication and accuracy, ranging from a crude heuristic to the use of complex predictive
            analytics techniques.
          </p>
        </section>
        <section id="content3" class="tab-content">
          <table id="clv" class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>OrderId</td>
                <th>OrderDate</td>
                <th>UserId</td>
                <th>TotalCharges</td>
                <th>CommonId</td>
                <th>PupId</td>
                <th>PickupDate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>257</td>
                <td>1/6/2009</td>
                <td>253</td>
                <td> $57.51 </td>
                <td>6T3J5</td>
                <td>3</td>
                <td>1/6/2009</td>
              </tr>
              <tr>
                <td>259</td>
                <td>1/6/2009</td>
                <td>1558</td>
                <td> $62.74 </td>
                <td>M5QH8</td>
                <td>3</td>
                <td>1/6/2009</td>
              </tr>
              <tr>
                <td>256</td>
                <td>1/6/2009</td>
                <td>3190</td>
                <td> $35.48 </td>
                <td>PW8A3</td>
                <td>2</td>
                <td>1/7/2009</td>
              </tr>
              <tr>
                <td>258</td>
                <td>1/6/2009</td>
                <td>3194</td>
                <td> $7.37 </td>
                <td>JTGT4</td>
                <td>3</td>
                <td>1/8/2009</td>
              </tr>
              <tr>
                <td>262</td>
                <td>1/11/2009</td>
                <td>47</td>
                <td> $50.67 </td>
                <td>TRQKD</td>
                <td>2</td>
                <td>1/12/2009</td>
              </tr>
              <tr>
                <td>263</td>
                <td>1/12/2009</td>
                <td>550</td>
                <td> $87.63 </td>
                <td>6GC3F</td>
                <td>2</td>
                <td>1/12/2009</td>
              </tr>
              <tr>
                <td>265</td>
                <td>1/13/2009</td>
                <td>207</td>
                <td> $32.96 </td>
                <td>MZ562</td>
                <td>3</td>
                <td>1/13/2009</td>
              </tr>
              <tr>
                <td>268</td>
                <td>1/13/2009</td>
                <td>457</td>
                <td> $50.21 </td>
                <td>RJ4JJ</td>
                <td>2</td>
                <td>1/14/2009</td>
              </tr>
              <tr>
                <td>267</td>
                <td>1/13/2009</td>
                <td>891</td>
                <td> $131.98 </td>
                <td>GL97J</td>
                <td>3</td>
                <td>1/13/2009</td>
              </tr>
              <tr>
                <td>266</td>
                <td>1/13/2009</td>
                <td>3355</td>
                <td> $3.68 </td>
                <td>ACX3T</td>
                <td>3</td>
                <td>1/13/2009</td>
              </tr>
              <tr>
                <td>270</td>
                <td>1/14/2009</td>
                <td>277</td>
                <td> $127.47 </td>
                <td>EZATD</td>
                <td>2</td>
                <td>1/14/2009</td>
              </tr>
              <tr>
                <td>269</td>
                <td>1/14/2009</td>
                <td>1625</td>
                <td> $33.22 </td>
                <td>5A8NQ</td>
                <td>2</td>
                <td>1/14/2009</td>
              </tr>
              <tr>
                <td>271</td>
                <td>1/14/2009</td>
                <td>3385</td>
                <td> $47.56 </td>
                <td>XLKGQ</td>
                <td>3</td>
                <td>1/15/2009</td>
              </tr>
              <tr>
                <td>274</td>
                <td>1/15/2009</td>
                <td>253</td>
                <td> $64.83 </td>
                <td>GE3YZ</td>
                <td>3</td>
                <td>1/15/2009</td>
              </tr>
              <tr>
                <td>273</td>
                <td>1/15/2009</td>
                <td>3394</td>
                <td> $13.64 </td>
                <td>DH9T9</td>
                <td>3</td>
                <td>1/15/2009</td>
              </tr>
              <tr>
                <td>276</td>
                <td>1/19/2009</td>
                <td>112</td>
                <td> $17.76 </td>
                <td>ALMYV</td>
                <td>3</td>
                <td>1/20/2009</td>
              </tr>
              <tr>
                <td>278</td>
                <td>1/20/2009</td>
                <td>47</td>
                <td> $26.60 </td>
                <td>4HH2S</td>
                <td>3</td>
                <td>1/20/2009</td>
              </tr>
              <tr>
                <td>279</td>
                <td>1/20/2009</td>
                <td>207</td>
                <td> $24.24 </td>
                <td>UMUAD</td>
                <td>3</td>
                <td>1/20/2009</td>
              </tr>
              <tr>
                <td>277</td>
                <td>1/20/2009</td>
                <td>253</td>
                <td> $80.48 </td>
                <td>NNY5A</td>
                <td>3</td>
                <td>1/20/2009</td>
              </tr>
              <tr>
                <td>280</td>
                <td>1/20/2009</td>
                <td>899</td>
                <td> $12.29 </td>
                <td>WNYJY</td>
                <td>3</td>
                <td>1/20/2009</td>
              </tr>
              <tr>
                <td>281</td>
                <td>1/24/2009</td>
                <td>616</td>
                <td> $101.22 </td>
                <td>VRL6K</td>
                <td>3</td>
                <td>1/27/2009</td>
              </tr>
              <tr>
                <td>285</td>
                <td>1/27/2009</td>
                <td>182</td>
                <td> $291.64 </td>
                <td>HJKAY</td>
                <td>3</td>
                <td>1/27/2009</td>
              </tr>
              <tr>
                <td>283</td>
                <td>1/27/2009</td>
                <td>253</td>
                <td> $91.53 </td>
                <td>GHWB5</td>
                <td>3</td>
                <td>1/27/2009</td>
              </tr>
              <tr>
                <td>282</td>
                <td>1/27/2009</td>
                <td>891</td>
                <td> $105.73 </td>
                <td>BYLT6</td>
                <td>3</td>
                <td>1/27/2009</td>
              </tr>
              <tr>
                <td>284</td>
                <td>1/27/2009</td>
                <td>1558</td>
                <td> $71.88 </td>
                <td>ELLRK</td>
                <td>3</td>
                <td>1/27/2009</td>
              </tr>
              <tr>
                <td>287</td>
                <td>1/28/2009</td>
                <td>225</td>
                <td> $16.99 </td>
                <td>TFCX6</td>
                <td>3</td>
                <td>1/29/2009</td>
              </tr>
              <tr>
                <td>286</td>
                <td>1/28/2009</td>
                <td>277</td>
                <td> $146.09 </td>
                <td>QLDNM</td>
                <td>2</td>
                <td>1/28/2009</td>
              </tr>
              <tr>
                <td>288</td>
                <td>1/28/2009</td>
                <td>3616</td>
                <td> $8.06 </td>
                <td>WT9H3</td>
                <td>3</td>
                <td>1/29/2009</td>
              </tr>
              <tr>
                <td>292</td>
                <td>1/29/2009</td>
                <td>98</td>
                <td> $16.96 </td>
                <td>ZLNHR</td>
                <td>3</td>
                <td>1/29/2009</td>
              </tr>
              <tr>
                <td>290</td>
                <td>1/29/2009</td>
                <td>3640</td>
                <td> $31.84 </td>
                <td>J6Z66</td>
                <td>3</td>
                <td>1/29/2009</td>
              </tr>
              <tr>
                <td>293</td>
                <td>2/2/2009</td>
                <td>253</td>
                <td> $54.86 </td>
                <td>XAAX4</td>
                <td>2</td>
                <td>2/2/2009</td>
              </tr>
              <tr>
                <td>294</td>
                <td>2/3/2009</td>
                <td>47</td>
                <td> $38.71 </td>
                <td>3TRDC</td>
                <td>2</td>
                <td>2/4/2009</td>
              </tr>
              <tr>
                <td>295</td>
                <td>2/4/2009</td>
                <td>253</td>
                <td> $50.12 </td>
                <td>YNGMD</td>
                <td>2</td>
                <td>2/4/2009</td>
              </tr>
              <tr>
                <td>297</td>
                <td>2/4/2009</td>
                <td>2583</td>
                <td> $21.37 </td>
                <td>ST4GF</td>
                <td>2</td>
                <td>2/4/2009</td>
              </tr>
              <tr>
                <td>296</td>
                <td>2/4/2009</td>
                <td>3733</td>
                <td> $15.01 </td>
                <td>C6LGB</td>
                <td>2</td>
                <td>2/4/2009</td>
              </tr>
              <tr>
                <td>299</td>
                <td>2/5/2009</td>
                <td>207</td>
                <td> $22.60 </td>
                <td>LBM3R</td>
                <td>3</td>
                <td>2/5/2009</td>
              </tr>
              <tr>
                <td>301</td>
                <td>2/6/2009</td>
                <td>47</td>
                <td> $53.38 </td>
                <td>NGAZJ</td>
                <td>2</td>
                <td>2/9/2009</td>
              </tr>
              <tr>
                <td>302</td>
                <td>2/6/2009</td>
                <td>47</td>
                <td> $14.28 </td>
                <td>FFYHD</td>
                <td>2</td>
                <td>2/9/2009</td>
              </tr>
              <tr>
                <td>304</td>
                <td>2/9/2009</td>
                <td>407</td>
                <td> $20.55 </td>
                <td>UP3XG</td>
                <td>3</td>
                <td>2/12/2009</td>
              </tr>
              <tr>
                <td>303</td>
                <td>2/9/2009</td>
                <td>550</td>
                <td> $89.33 </td>
                <td>A8UEG</td>
                <td>2</td>
                <td>2/9/2009</td>
              </tr>
              <tr>
                <td>308</td>
                <td>2/10/2009</td>
                <td>230</td>
                <td> $16.66 </td>
                <td>GEM33</td>
                <td>3</td>
                <td>2/10/2009</td>
              </tr>
              <tr>
                <td>305</td>
                <td>2/10/2009</td>
                <td>891</td>
                <td> $136.07 </td>
                <td>8FE37</td>
                <td>3</td>
                <td>2/10/2009</td>
              </tr>
              <tr>
                <td>307</td>
                <td>2/10/2009</td>
                <td>1588</td>
                <td> $18.32 </td>
                <td>FLUWJ</td>
                <td>3</td>
                <td>2/10/2009</td>
              </tr>
              <tr>
                <td>306</td>
                <td>2/10/2009</td>
                <td>3767</td>
                <td> $73.87 </td>
                <td>257YD</td>
                <td>3</td>
                <td>2/10/2009</td>
              </tr>
              <tr>
                <td>309</td>
                <td>2/11/2009</td>
                <td>253</td>
                <td> $76.89 </td>
                <td>BADHL</td>
                <td>2</td>
                <td>2/11/2009</td>
              </tr>
              <tr>
                <td>310</td>
                <td>2/11/2009</td>
                <td>253</td>
                <td> $18.75 </td>
                <td>T5Q4Y</td>
                <td>2</td>
                <td>2/11/2009</td>
              </tr>
              <tr>
                <td>312</td>
                <td>2/12/2009</td>
                <td>207</td>
                <td> $55.40 </td>
                <td>S4LPV</td>
                <td>3</td>
                <td>2/12/2009</td>
              </tr>
              <tr>
                <td>313</td>
                <td>2/12/2009</td>
                <td>207</td>
                <td> $3.02 </td>
                <td>69ZDJ</td>
                <td>3</td>
                <td>2/12/2009</td>
              </tr>
              <tr>
                <td>311</td>
                <td>2/12/2009</td>
                <td>3889</td>
                <td> $65.18 </td>
                <td>WZ4AS</td>
                <td>3</td>
                <td>2/12/2009</td>
              </tr>
              <tr>
                <td>315</td>
                <td>2/15/2009</td>
                <td>277</td>
                <td> $89.30 </td>
                <td>SAMKG</td>
                <td>2</td>
                <td>2/16/2009</td>
              </tr>
              <tr>
                <td>316</td>
                <td>2/16/2009</td>
                <td>98</td>
                <td> $6.74 </td>
                <td>GYTPJ</td>
                <td>2</td>
                <td>2/16/2009</td>
              </tr>
              <tr>
                <td>317</td>
                <td>2/16/2009</td>
                <td>4058</td>
                <td> $31.53 </td>
                <td>BWBJ4</td>
                <td>2</td>
                <td>2/16/2009</td>
              </tr>
              <tr>
                <td>321</td>
                <td>2/17/2009</td>
                <td>47</td>
                <td> $29.50 </td>
                <td>HA5R3</td>
                <td>3</td>
                <td>2/17/2009</td>
              </tr>
              <tr>
                <td>322</td>
                <td>2/17/2009</td>
                <td>3181</td>
                <td> $18.35 </td>
                <td>836WT</td>
                <td>3</td>
                <td>2/17/2009</td>
              </tr>
              <tr>
                <td>320</td>
                <td>2/17/2009</td>
                <td>3394</td>
                <td> $37.05 </td>
                <td>AJJ7X</td>
                <td>3</td>
                <td>2/17/2009</td>
              </tr>
              <tr>
                <td>324</td>
                <td>2/18/2009</td>
                <td>4152</td>
                <td> $189.37 </td>
                <td>EK5QM</td>
                <td>3</td>
                <td>2/24/2009</td>
              </tr>
              <tr>
                <td>325</td>
                <td>2/18/2009</td>
                <td>4160</td>
                <td> $43.52 </td>
                <td>PXPMK</td>
                <td>3</td>
                <td>2/19/2009</td>
              </tr>
              <tr>
                <td>326</td>
                <td>2/19/2009</td>
                <td>207</td>
                <td> $28.29 </td>
                <td>XVXS3</td>
                <td>3</td>
                <td>2/19/2009</td>
              </tr>
              <tr>
                <td>327</td>
                <td>2/19/2009</td>
                <td>207</td>
                <td> $2.65 </td>
                <td>D8KLE</td>
                <td>3</td>
                <td>2/19/2009</td>
              </tr>
            </tbody>
          </table>
        </section>
        <section id="content2" class="tab-content">
          <p class="skl-txt-big1">
            <pre>
                 <code>
  curl '<script>document.write(apiURL) </script>service/clv' -X POST -H 'Content-Type: application/json' -d  <span class="code-params">'{"type":"Gaming"}'
</span>
</code>
</pre>
          </p>
        </section>
      </div>
    </div>
  </div>
  <div class="row m-t-40 m-b-50">
    <div class="col-md-12 text-center">
      <a data-toggle="modal" data-target="#demorequest" class="btn btn-lg btn-circle skl-btn2 txt-upper col-sm-6 center-align-div">Request a custom demo</a>
    </div>
  </div>
</div>
{% endblock %} {% block extrajs%}
<script src="{% static 'assets/scripts/clv.js' %}"></script>

{% endblock %}