

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container m-t-inner" ng-app="summarizerApp">
   <div class="row">
      <div class="col-sm-12 text-center">
         <h1 class="head-txt-1 txt-upper m-t-120 skl-clr1">Content AI </h1>
         <h4 class="skl-lett-spac">Content Summarizer</h4>
      </div>
   </div>
   <hr>
   <div class="row" ng-controller="postCtrl">
      <div class="col-md-12 skl-box-outer">
         <div class="col-md-6">
            <div class="panel panel-default skl-panel1">
               <div class="panel-heading"><span class="skl-txt-big1">Content Summarizer</span></div>
               <div class="panel-body">
                  <form class="form-horizontal" name="creditForm" >
                     <div class="form-group">
                        <label class="col-sm-12 control-label">Content: </label>
                        <div class="col-sm-12">
                           <textarea  ng-model="Summarize.data" required="true" class="form-control" rows="5" ></textarea>
                        </div>
                     </div>
                    <div class="col-md-12 m-t-20">
                     <button type="submit" ng-click="submit(creditForm.$valid)" class="btn skl-btn1 nav-justified txt-upper">Summarize</button>
                    </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="panel panel-default skl-panel2">
               <div class="panel-heading"><span class="skl-txt-big1">Summary</span></div>
               <div class="panel-body">
                  <span id="probdist"  style="width:502px;height:636px;"></span>
                  {% verbatim %}
                  <p class="skl-txt-big1" ng-cloak="">{{summary.summary}}</p>
                  <p ng-cloak ng-repeat="(key,val) in summary.report">{{key + " : "}} {{val}}</p>
                  {% endverbatim %}
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h2 class="text-center m-t-40 txt-upper">How it Works</h2>
      </div>
   </div>
   <div class="row m-t-40">
      <div class="col-md-12">
         <div class="tab_container">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fa fa-pencil-square-o"></i><span>NON-TECHNICAL</span></label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-code"></i><span>TECHNICAL</span></label>
            <section id="content1" class="tab-content">
               <p class="skl-txt-big1">
                  Content summarization is the process of shortening a text document with software, in order to create a summary with the major points of 
                  the original document. Technologies that can make a coherent summary take into account variables such as length, writing style and syntax.
                  <br/><br/>
                  Content data summarization is part of machine learning and data mining. The main idea of summarization is to find a subset of 
                  data which contains the "information" of the entire set. Such techniques are widely used in industry today. Search engines are an example;
                  others include summarization of documents, image collections and videos. Document summarization tries to create a representative
                   summary or abstract of the entire document, by finding the most informative sentences, while in image summarization the system 
                   finds the most representative and important (i.e. salient) images. For surveillance videos, one might want to extract the important events 
                   from the uneventful context.
               </p>
            </section>
            <section id="content2" class="tab-content">
               <p class="skl-txt-big1">
                  <pre>
                 <code>
  curl '<script>document.write(base) </script>/summarize/' -X POST -H 'Content-Type: application/json'\
     --data  <span class="code-params">'{"data":"Game of Thrones is an American fantasy drama television series created by David Benioff and D. B. Weiss. It is an adaptation of A Song of Ice and Fire, George R. R. Martins series of fantasy novels, the first of which is A Game of Thrones. It is filmed in Belfast and elsewhere in the United Kingdom, Canada, Croatia, Iceland, Malta, Morocco, Spain, and the United States. The series premiered on HBO in the United States on April 17, 2011, and its sixth season ended on June 26, 2016. The series was renewed for a seventh season,which premiered on July 16, 2017, and will conclude with its eighth season in 2018 or 2019"}'
</span>
</code>
</pre> 
               </p>
            </section>
         </div>
      </div>
   </div>
   <div class="row m-t-40 m-b-50">
      <div class="col-md-12 text-center">
         <a data-toggle="modal" data-target="#demorequest" class="btn btn-lg btn-circle skl-btn2 txt-upper col-sm-6 center-align-div">Request a custom demo</a>
      </div>
   </div>
</div>
{% endblock %}
{% block extrajs%}
<script src="{% static 'assets/scripts/summarizer.js' %}"></script> 
{% endblock %}

